<div class="header header-big">
  <div class="logo">
    <img src="../../assets/logo/logo.jpg" alt="logo" border="0" routerLink="/">
  </div>
  <ul>
    <li><a routerLink="/allpost" routerLinkActive="active">Trang chủ</a> </li>
    <li><a routerLink="/type/life" routerLinkActive="active">Chuyện đời sống</a> </li>
    <li><a routerLink="/type/work" routerLinkActive="active">Chuyện đi làm</a> </li>
    <li><a routerLink="/type/bookreview" routerLinkActive="active">Review sách</a></li>
    <li><a routerLink="/type/aboutme" routerLinkActive="active">About me</a> </li>
  </ul>
  <div class="account">

  </div>
  
</div>
<div class="cover">
    <h1>Whether you think you can, or you think you can't-you're right</h1>
    <span>Henry Ford</span> 
  </div>