<div class="aboutme">


  <div class="content">
    <div class="title">
      <h2>Xin chào!</h2>
      <h2>Mình là Khiêm :)</h2>
    </div>
    <div class="img-me">
        <img src="../assets/img/aboutme.jpg" alt="">
    </div>
    <div>Một lập trình viên trẻ tuổi với nhiều ngây ngô, ảo tưởng và mơ mộng về cuộc sống. Mình viết blog này để chia
      sẻ góc nhìn của mình về mọi thứ xung quanh, về đời sống, về chuyện code,về những cuốn sách tâm đắc, … Và quan trọng hơn là để
      xem mỗi ngày mình trưởng thành hơn được bao nhiêu hay là suy nghĩ của mình nó khác đi bao nhiêu =)))
      <br>Cảm ơn vì đã ghé thăm blog của mình nhé.hihi
    </div>
  </div>


</div>
