

.wrapper{

}
.post{
    font-size: 1.1rem;
    padding: 2rem;
    width: 65%;
    background: white;
    text-align: center;
    color: #394956;
    margin: 0 auto;
}
.img{
    text-align: center;
    margin-bottom: 0.5rem;
}
.img img{
    width: 100%;
    max-height: 12rem;
}
.title{
    font-family: 'Roboto Slab', serif;
    color: #333333;
}
.post h2{  
    font-weight: 400;
    font-size: 1.65rem;
    letter-spacing: 0px;
    font-style: normal;
    margin-bottom: 0;
}

.sort_content{
    text-align: left;
    padding: 0.5rem;
}

.wrapper{
    display: flex;
    justify-content: space-around;
}

.sidebar{
    width: 20%;
   
}